.wrapper {
 /* display: flex;
  float: right; */
  display: grid;
  grid-template-columns: repeat(4, 120px);
  grid-template-areas:
   "a b b b ";
  }

.bogen {
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  padding: 1rem;
  margin: 2px;
  max-width: 300px;
  grid-area: b;
  }

.foto {
  transform-origin: initial;
  transform-origin: 110px 40px;
  align-self: center;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  font-weight: 300;
  opacity: 0.6;
  transform: rotate(270deg);
  grid-area: a;

}
.input-container {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
}

p {
  margin-top: 20px;
}
