.wrapper {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(4, 120px);
  height:  200px;
  grid-template-areas:
   "a b b b ";
  }

.bogen {
  align-self: end;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  border: 4px solid;
  padding: 1rem;
  margin: 2px;
  max-width: 300px;
  grid-area: b;
  }

.foto {
  align-self: start;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 3rem;
  font-weight: 300;
  opacity: 0.7;
  line-height: 1;
  transform: rotate(270deg);
  transform-origin: -200 0;
  text-align: center;
  align-self: bottom;
  grid-area: a;
}