@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
.bogen {
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  border: 5px solid;
  padding: 2rem;
  width: 320px;
}