.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 100px);
   grid-template-areas:
   "a b b b ";
  }

.bogen {
  align-self: end;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  border: 3px solid;
  padding: 1rem;
  margin: 2px;
  max-width: 280px;
  grid-area: b;
  }

.foto {
  align-self: start;
  text-transform: uppercase;
  font-family: 'Source Code Pro', monospace;
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
  transform: rotate(270deg);
  grid-area: a;
}